
		<!--register page-->
		<div class="login-page-inner">
		<div class="wrapper2">
			<div class="reg-head"><h1 class="reg-page"><img src="assets/images/login-icon.png">Sign Up</h1></div>
			<p class="reg-para">After you Create your shopping pal account, we will ask you to link your credit card, debit card, or PayPal. Then you can start using yourshoppingpal right away</p>
			<div class="register-steps"></div>
			<div class="payment-inner-login billing-information-payment">
						<h1 class="step-heading"> 1 Personal  Information</h1>
							<form name="signup_form" id="signup_form" method="post" action="" >
							<div class="full-block-studio">
								
									<div class="full-block-studio">
									
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="text" value="" name="user_login" id="user_login" placeholder="Username" class="block-input">
												<img src="assets/images/b-user.png">
											</div>
										</div>
										<!--end-->
									
								</div>
							</div>
							<div class="full-block-studio">
								<div class="left-block-studio">
									<div class="full-block-studio">
									
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="text" value="" name="first_name" id="first_name" placeholder="First Name" class="block-input">
												<img src="assets/images/b-user.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
								<div class="left-block-studio right">
									<div class="full-block-studio">
										
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="text" value="" placeholder="Last Name" name="last_name" id="last_name" class="block-input">
												<img src="assets/images/b-user.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
							</div>
							<div class="full-block-studio">
								<div class="left-block-studio">
									<div class="full-block-studio">
									
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="password" name ="password" id ="password" value="" placeholder="Password" class="block-input">
												<img src="assets/images/b-user.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
								<div class="left-block-studio right">
									<div class="full-block-studio">
										
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password" class="block-input">
												<img src="assets/images/b-user.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
							</div>
							<div class="full-block-studio">
								<div class="left-block-studio">
									<div class="full-block-studio">
									
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="text" name="user_email" id="user_email"  value="" placeholder="Email" class="block-input">
												<img src="assets/images/b-email.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
								<div class="left-block-studio right">
									<div class="full-block-studio">
										
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<input type="text" name="phone_no" id="phone_no" value="" placeholder="Phone" class="block-input">
												<img src="assets/images/b-phone.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
							</div>
							<div class="full-block-studio">
								<div class="full-block-studio">
									
									<!--input-->
									<div class="input-block-studio">
										<div class="img-input-block txtarea-new">
											<textarea name="address"  id="address" placeholder="Address" class="block-input "></textarea>
											<img src="assets/images/b-Address.png">
										</div>
									</div>
									<!--end-->
								</div>
							</div>
							<div class="full-block-studio">
								<div class="left-block-studio">
									<div class="full-block-studio">
									
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<select name="country" id="country"  class="block-input">
													<option value="">Select Country</option>
												</select>
												<img src="assets/images/b-Address.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
								<div class="left-block-studio right">
									<div class="full-block-studio">
										
										<!--input-->
										<div class="input-block-studio">
											<div class="img-input-block">
												<select name="state" id="state" class="block-input">
													<option>Select State</option>
												</select>
												<img src="assets/images/b-Address.png">
											</div>
										</div>
										<!--end-->
									</div>
								</div>
							</div>
							<div class="reg-btn">
								<input type="submit" name="signup_btn" id="signup_btn" value="Submit" class="login-btn">
							</div>
							
							</form>
					</div>
				</div>
			</div>
	
